header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 

.nav-one { 
   display: flex; 
   gap: 60px; 
   font-size: 15px; 
   font-family: Inter;
} 

.nav-one > a { 
    text-decoration: none; 
    color: black; 
} 

.nav-one > a:hover { 
    color: hsl(5, 85%, 63%);
}

.nav-two { 
    display: none;
} 

.nav-menu { 
    display: none;
}

article { 
    padding: 3em;
}

.wrapper { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);  
    gap: 10px;
    grid-template-areas:  
    "main main aside"
    "main main aside"
    "sideone sidetwo sidethree"; 
    margin-bottom: 10px;
} 

.headline { 
    grid-area: main; 
} 

.caption { 
    display: flex; 
    justify-content: space-between;
} 

.caption-description { 
    font-size: 15px; 
    font-family: Inter; 
    padding: 10px; 
    text-align: left; 
    line-height: 30px;
} 

.caption-description > button { 
    padding: 10px 35px; 
    background-color: hsl(5, 85%, 63%); 
    font-family: Inter; 
    font-weight: bolder;    
    border: none; 
    font-size: 15px; 
    letter-spacing: 3px;
}

.caption > h1 { 
    font-weight: bolder; 
    font-family: Inter; 
    font-size: 35px;
}

aside { 
    grid-area: aside; 
    background-color: hsl(240, 100%, 5%); 
    padding: 10px 20px; 
    font-family: Inter, 'Times New Roman', Times, serif; 
    margin-bottom: 50px;
} 

.aside-contents { 
    color: white; 
    font-size: 15px; 
    padding: 20px 10px;
} 

.aside-description { 
    opacity: 0.5;
}

.aside > h1 { 
    color: hsl(35, 77%, 62%); 
    font-size: 30   px;
} 

.aside-contents > p > strong:hover { 
    color: hsl(35, 77%, 62%);
}

.more-contents-one { 
    grid-area: sideone; 
    display: flex; 
    line-height: 20px;
} 

.more-contents-two { 
    grid-area: sidetwo;  
    display: flex;
    line-height: 20px;
} 

.more-contents-three { 
    grid-area: sidethree;  
    display: flex; 
    line-height: 20px;
} 

.related-contents { 
    margin-left: 20px;  
    margin-bottom: 100px; 
    font-family: Inter;
} 

.related-contents > h1 { 
    color: hsl(5, 85%, 63%);
}

aside > hr { 
    background-color: black; 
    height: 2px; 
    border: none; 
}
.main-image { 
    width: 100%;
    height: 350px; 
    object-fit: cover;
}

picture { 
    height: 100%;
    width: 100%; 
    object-fit: cover;
} 

.small-images { 
  height: 120px;
  width: 90px;
} 

.small-images > img { 
    height: 100%;
    width: 100%;
}

.source { 
    height: auto; 
    width: 100%; 
    max-width: 100%; 
    display: flex;
}  

.img { 
    display: none;
}

@media screen and (max-width: 768px) {
   .wrapper { 
    grid-template-areas: 
    "main main main"
    "aside aside aside"
    "sideone sideone sideone"
    "sidetwo sidetwo sidetwo"
    "sidethree sidethree sidethree"; 
    padding: 10px;
   } 

   .nav-one { 
    display: none;
   } 

   .nav-two { 
    display: flex;
   } 
  
    .img { 
       height: 100%; 
       width: 100%; 
       display: flex;
    } 

    .source { 
        display: none;
    }

    .nav-menu { 
        display: none;
        position: absolute; 
        text-align: right; 
        top: 0;  
        right: 0; 
        background-color: white;
        width: 80%; 
        height: 100%;
    } 

    .nav-contents { 
        text-align: left; 
        padding: 40px;
    } 

    .nav-contents > .close-icon { 
        padding: 10px;
    }

    .nav-contents > a { 
        display: block; 
        line-height: 50px; 
        padding: 20px; 
        text-decoration: none; 
        color: black;
        font-family: Inter;
    } 

    .nav-contents > a:hover { 
        color: hsl(5, 85%, 63%);
    }
}